fastapi
uvicorn[standard]
streamlit
requests
langchain-text-splitters
boto3
pgvector
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
docling
openai-whisper
faster-whisper
ctranslate2
nvidia-cublas-cu12
